body{
    font-family: Arial, sans-serif;
    text-align: center;
    border-radius: 100px;
    border: 1rem solid black;
}

#counter{
    font-size: 24px;
    margin-bottom: 25px;
    margin-top: 25px;
}

button{
    font-size: 18px;
    padding: 10px 20px;
    margin: 0 10px;
    margin-bottom: 30px;
    cursor: pointer;
}